html{
  box-sizing: border-box;
}
*,
*:before,
*:after
{
  box-sizing: inherit;
}
body
{
    background-color:aqua;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: brown;
}
  header
  {
    border-bottom:solid 1px black;
    background-color: chartreuse;
    box-shadow: 0 1px 2px darkgray;
    height: 44px;
    width: 100;  
  }
    nav
    {
      height: 100%;
      max-width: 922px;
      display: flex;
      align-items: center;
      margin: auto;

    }
    .content
    {
      display: flex;
      margin: auto;
      max-width: 922px;

    }
    .sidebar
    {
      user-select: none;
      width: 266px;
      height: 100vh;
      padding-top: 74px;
      border-right: 1px solid greenyellow;
      background-color: grey ;


    }
    .inbox{
      margin-bottom: 10px;
      cursor: pointer;
      padding: 26px;
      text-align: center;
    }
    .today{
      margin-bottom: 10px;
      cursor: pointer;
      padding: 26px;
      text-align: center;
    }
    .after7{
      margin-bottom: 10px;
      cursor: pointer;
      padding: 26px;
      text-align: center;
    }
      
    
  
